<article class="article article-type-post show">
  <header class="article-header">
  <h1 class="article-title" itemprop="name">
    <%= page.title %>
  </h1>
  </header>

  <% if (site.tags.length){ %>
  <div class="tag-all-page article-type-post show">
    <h3>&nbsp;<%= site.tags.length %>&nbsp;tags</h3>
    <ul class="tags-list">
    <% site.tags.sort('name').each(function(item){ %>
      <% if(item.posts.length){ %>
        <li class="tag-list-item">
          <a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %><sup>[<%= item.posts.length %>]</sup></a>
        </li>
      <% } %>
    <% }); %>
    </ul>
  </div>
  <% } %>
</article>
